@use "../styles/variables.scss" as *;

.chart-type-selector {
  display: flex;
  align-items: center;
  background: $white;
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin-bottom: 1rem;
  margin-top: 0.75rem;

  label {
    font-size: $font-size-base;
    color: $bar-label;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
  }

  input[type="radio"] {
    margin-right: 0.4em;
    accent-color: $link-hover;
  }
}
