@use "../styles/variables.scss" as *;

.spend-field-select-wrapper {
  display: flex;
  align-items: center;
  background: $white;
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  label {
    margin-right: 0.5rem;
    font-size: $font-size-base;
    color: $bar-label;
  }
}

.spend-field-select {
  height: 40px;
  padding: 0 1rem;
  border: 1px solid $border-light;
  border-radius: $border-radius-sm;
  background: $input-bg;
  font-size: $font-size-base;
  color: $text;
  box-shadow: none;
  outline: none;
  margin-left: 1rem;
  transition: border 0.2s;
  min-width: 140px;
  display: flex;
  align-items: center;

  &:focus {
    border: 1.5px solid $accent;
  }
}
